<!-- add questiston  -->


<!-- {% extends "Admin/base.html" %} -->


{% block content %}
    <div class="container">
        <div class="row">
         <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                 
                        <h1>Add Question</h1>
                       
                        <form action="" method="POST">
                            {{ form.hidden_tag() }}
        
                            <div class="form-group">
                                {{ form.question.label(class="form-control-label") }}
                                {{ form.question(class="form-control") }}
                            </div>
        
                            <div class="form-group">
                                {{ form.subject.label(class="form-control-label") }}
                                {{ form.subject(class="form-control") }}
                            </div>
        
                            <div class="form-group">
                                {{ form.option1.label(class="form-control-label") }}
                                {{ form.option1(class="form-control") }} 
                         </div>      
                             <div class="form-group">
                                    {{ form.option2.label(class="form-control-label") }}
                                    {{ form.option2(class="form-control") }}
        </div>
        
                            <div class="form-group">
                                {{ form.option3.label(class="form-control-label") }}
                                {{ form.option3(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.option4.label(class="form-control-label") }}
                                {{ form.option4(class="form-control") }}
                            </div>
                                
        
                            <div class="form-group">
                                {{ form.answer.label(class="form-control-label") }}
                                {{ form.answer(class="form-control") }}
                            </div>      
        
                            <!-- submit btn -->
        
                            <div class="form-group">
                               {{ form.submit(class="btn btn-success") }}
                            </div>
        
                            
                        </form>
        
                  
                </div>
            </div>

         </div>
         <div class="col-md-4">

         </div>
        </div>
    </div>
{% endblock %}