{% extends "layout.html" %}
{% block content %}

<style>
  .video{
    background-color: aqua;
    height: 300px;
  }
  .quiz-card{
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccf;
  }
  .block{
    /* display inline block */
   
    flex-direction: end;
    float: right;


  }
  .next{
    background-color: #f5f5f5;
    padding: 10px;
    margin: 10px;
    float: right;
    border: 1px solid #ccc;
  }
</style>

    <div class="container">
      <div class="row">

        <div class="col-md-5">

          <!-- exams qustion  -->
          <!-- exam Rules -->

          <div class="card">
            <div class="card-body">
              <h1>Video Will be Here</h1>
              
              <div class="video">

              </div>
            </div>
          <!-- button -->
          
         
            </div>
         
        </div>
        <div class="col-md-7">
          <div class="card">
            <div class="card-body">
              <!-- loop question and aswer -->
              <h1>Question Will be Here</h1>
              {% for q in questions.items %}

              <div class="card quiz-card">
                <div class="card-body">
                  <h5 class="card-title">{{q.qid}} .{{q.question}}</h5>
                 
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      {{q.option1}}
                      
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      {{q.option2}}
                      
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      {{q.option3}}
                      
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                      {{q.option4}}
                      
                    </label>
                  </div>

                </div>
              </div>


                
              
              {% endfor %}




              
        
            </div>
          <!-- button -->


              <div class="next">
                {% for page_num in questions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
{% if page_num %}
  {% if questions.page == page_num %}
    <a class="btn  col-md-2 btn-info mb-4 " href="{{url_for('questions.all_questions',page=page_num)}}">{{page_num}}</a>
    
  {% else %}
    <a class="btn btn-outline-info col-md-2 block" href="{{url_for('questions.all_questions',page=page_num)}}">{{page_num}}</a>
  {% endif %}
{% else %}
  ...
{% endif %}
{% endfor %}

              </div>
          
         
            </div>
        </div>
     
        </div>
      </div>
    </div>

{% endblock content %}