{% extends "layout.html" %}
{% block content %}

    <div class="container">
      <div class="row">

        <div class="col-md-7">

          <!-- exams qustion  -->
          <!-- exam Rules -->

          <div class="card">
            <div class="card-body">
              <h1>Exam Rules</h1>
              <ul>
                <li>1. The exam consists of 10 questions.</li>
                <li>2. Each question carries 10 marks.</li>
                <li>3. There is no negative marking.</li>
                <li>4. You have 10 minutes to complete the exam.</li>
                <li>5. You can't go back to previous question.</li>
                <li>6. You can't change your answer once you have selected it.</li>
                <li>7. You can't pause the exam.</li>
                <li>8. You can't leave the exam once you have started it.</li>
              </ul>
              <a class="btn btn btn-warning" href="{{url_for('questions.all_questions')}}">Start Exam</a>
            </div>
          <!-- button -->
          
         
            </div>
         
        </div>
        <div class="col-md-5">
          <img src="{{url_for('static',filename='assets/motive.png')}}" alt="" height="300">
        </div>
     
        </div>
      </div>
    </div>

{% endblock content %}