{% extends "layout.html" %}
{% block content %}
    <div class="">
        <div class="container">
         <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4">Welcome Back 👋</legend>
                                <div class="form-group">
                                    {{ form.email.label(class="form-control-label") }}
                                    {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form.password.label(class="form-control-label") }}
                                    {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password(class="form-control form-control-lg") }}
                                    {% endif %}
                                </div>
                                <div class="form-check mt-2">
                                    {{ form.remember(class="form-check-input") }}
                                    {{ form.remember.label(class="form-check-label") }}
                                </div>
                            </fieldset>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-success") }} <br>

                                <small class="text-muted mt-2">
                                    <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                                </small>
                            </div>
                        </form>

                        <div class="border-top pt-3">
                            <small class="text-muted ml-2">
                                Need An Account? <a class="ml-2" href="{{ url_for('users.register') }}">Sign Up Now</a>
                            </small>
                        </div>
                    </div>

                    

                    <p class="mt-4"></p>
                
                </div>
            </div>
            <div class="col-md-5">
                <img src="{{url_for('static',filename='assets/login.png')}}" alt="" height="300">
            </div>
         </div>
        </div>
    </div>
  
{% endblock content %}